@{
    ViewData["Title"] = "FastMail::Mail Tracking System";
}

<div class="mb-4">
    <h5 class="display-6">Edit User</h5>
</div>

<form method="post">
    <div class="row">
        <div class="col-sm-1">
            <button type="submit" class="btn btn-outline-primary">Submit</button>
        </div>
        <div class="col-sm-2">
            <a href="@Url.Action("Users")" class="btn btn-outline-secondary">Return to Users</a>
        </div>
    </div>
</form>